body {
    background-color: rgb(6, 15, 22) ;
    color: rgb(220, 227, 234);
}

#seedgenerator-el {
    background-color: rgb(49, 57, 63)
}

body div button {
    color: rgb(220, 227, 234);
    background-color: rgb(6, 15, 22);
    border: 0;
}

body div button:hover {
    background-color: rgb(49, 57, 63);
}

.buttons {
    margin: 0px 15%;
}