body {
    margin: auto;
    margin-left: 30px;
    background-color: #1E2938;
}
button {
    color:white;
    background-color: #10B982;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 7px 50px 0 rgba(0,0,0,0.19);
    
}

h1 {
    color: white;
    margin-top: 50px;
}

h2 {
    color: #4ADF86;
}

p {
    color: #C6C8D1;
    margin-bottom: 30px;
}

#p1 {
    color: #C6C8D1;
    margin-bottom: 20px;
}

div {
    color: #59E394;
    background-color: #283549;
    margin-left: 0px;
    display: inline;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    width: 250px;
    transition-duration: 0.4s;
}

div:hover {
    background-color: #59E394;
    color: #283549;
}

hr {
    color: #283445;
    background-color: #283445;
    border-width: 0;
    height: 2px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 470px;
}

input {
    margin-top: 5px;
    margin-bottom: 3px;
}